html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'RubrikBold';
    src: url('resources/font/RubrikBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'RubrikSemiBold';
    src: url('resources/font/RubrikSemiBold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'RubrikExtraLight';
    src: url('resources/font/RubrikExtraLight.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'RubrikLight';
    src: url('resources/font/RubrikLight.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'RubrikRegular';
    src: url('resources/font/RubrikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RubrikMedium';
    src: url('resources/font/RubrikMedium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.items {
    display: flex;
    flex-flow: row wrap;
    flex: 1
}

.color-black.notopened {
    color: #141618;
}

.color-black.opened {
    color: #666c77;
}

.color-black.opened.selected {
    background-color: #666c77;
    border-radius: 50%;
    color: #CCCBCB;
}

.color-red.notopened {
    color: #33120b;
}

.color-red.opened {
    color: #ff5b38;
}

.color-red.opened.selected {
    background-color: #FF775A;
    border-radius: 50%;
    color: #CCCBCB;
}

.logo {
    background: url('resources/images/logo-bg.png') no-repeat;
    background-size: cover;
}

.button {
    cursor: pointer;
}

.button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.high {
    background-color: #e85d45;
    font-family: RubrikRegular;
    color: white;
}

.low {
    background-color: #a1ce3c;
    font-family: RubrikRegular;
    color: white;
}

.recommend {
    font-family: RubrikSemiBold;
    color: #ede048;
    background: url('resources/images/recommended-action.png') no-repeat;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaded {
    background: url('resources/images/page-bg.png') no-repeat;
    background-size: cover;

}

.loading {
    background: url('resources/images/splash-screen.jpg') no-repeat;
    background-size: cover;
}

.progressInfo {
    display: flex;
}

.progressComposite {
    z-index: 50;
    background-color: #020202;
}

.firstLine {
    padding: 1px 25px;
}

span.cardTitle {
    display: inline;
    color: #5d5d5d;
    font-family: RubrikSemiBold;
}

span.cardStats {
    display: inline;
    float: right;
    color: #f4f4f4;
    font-family: RubrikRegular;
}

.cardProgress {
    padding: 0 25px;
}

.progressBack {
    height: 5px;
    background: url('resources/images/gradient-color.png') no-repeat;
    background-size: cover;
}

.score {
    font-family: RubrikExtraLight;
    text-align: center;
    color: #ffffff;
}

.scoreTitle {
    color: #0b5601;
    font-family: RubrikRegular;
    text-align: center;
}

.cell {
    width: 14%;
    text-align: center;
    background: #020202;
    font-family: RubrikBold;
}

.progressFront {
    height: 5px;
    float: right;
    background-color: #000;
}

#game {
    height: 100%;
}

.dialogCover {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.dialogBody {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    border: solid #927c48;
    background-color: #0c1c09;
    box-shadow: 0 0 30px rgba(146, 124, 72, 1);
}

.dialogButton {
    display: inline-block;
    background-color: #91743f;
    color: #fff;
    cursor: pointer;
    font-family: RubrikRegular;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.dialogText > p {
    margin: 0;
    color: #ffec81;
    font-family: RubrikLight;
}

.dialogExtraText > p {
    margin: 0;
    color: #ffec81;
    font-family: RubrikSemiBold;
}

.cardBorder {
    border-radius: 20px;
    border: solid #a89b24;
    background-color: #0c1c09;
    box-shadow: 0 0 30px rgba(146, 131, 66, 1);
}

.firstCard, .secondCard {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2spx);
}

.disabled {
    opacity: 0.5;
}